.introduction-box-container {
  background-color: #fff;
  border-style: solid;
  border-radius: 3rem;
  border-color: black;
  padding: 2rem;
}
.card {
  background-color: #2460A7FF;
  background-size: cover;
  place-items: center;
}

.card-content {
  opacity: 1;
  font-size: 8em;
}

.search-bar {
  background-color: #fff;
  border-radius: 0.5rem;
}