.box-container {
  opacity: 0.7;
  background-color: white;
  border-style: solid;
  border-radius: 5rem;
  border-color: black;
  margin: 5rem;
  padding: 2rem;
}

.introduction-page {
  margin: 30vh;
}

.onhover {
  color: rgb(1, 33, 92);
}

.onhover:hover {
  opacity: 0.9;
  color: #0f4229;
}

/*
.home-data {
  position: absolute;
}
*/

.card {
  background-image: url("./img/bg/card-bg.jpg");
  background-size: cover;
  place-items: center;
}

.card-content {
  opacity: 1;
  font-size: 8em;
}